.container {
  margin: 50px;
}

.error {
  padding: 15px;

  border-radius: 5px;
  border: 1px solid var(--red2);
  color: var(--red3);
  background-color: var(--red1);
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 5px;

  & > a {
    color: var(--white);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table {
  overflow-x: auto;

  border-radius: 5px;

  & > table {
    width: 100%;

    border-collapse: collapse;

    font-size: 14px;
    line-height: 20px;

    & > thead {
      & > tr {
        & > th {
          padding: 15px 10px;

          border-bottom: 1px solid var(--gray4);
          background-color: var(--gray3);
          color: var(--gray7);

          white-space: nowrap;
          text-align: left;
          font-weight: 600;

          &:first-child {
            width: 50%;
          }
        }
      }
    }

    & > tbody {
      & > tr {
        border-bottom: 1px solid var(--gray4);
        background-color: var(--gray2);

        transition: all 0.2s ease-in-out;
        
        &:hover {
          background-color: var(--gray1);
        }

        &:last-child {
          border-bottom: none;
        }

        & > td {
          padding: 15px 10px;
          color: var(--gray7);

          &[colspan] {
            color: var(--gray6);
            text-align: center;
          }
        }
      }
    }
  }
}

.functions {
  display: flex;
}

.form {
  & > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;

    & > .type {
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }

  & > footer {
    margin-top: 24px;
    padding: 10px;
    border-top: 1px solid var(--gray3);

    display: flex;
    justify-content: center;
    gap: 8px;
  }
}
