name: CICD

on:
  push:
    tags:
      - 'v*'

env:
  ARGOCD_APP: vera-site
  IMAGE_REFERENCE: ${{ secrets.HARBOR_REGISTRY }}/vera/site:${{ github.ref_name }}
  NEXT_PUBLIC_IDENTITY_SERVICE_URL: https://identity.vera.sninjo.com
  NEXT_PUBLIC_DRIVE_SERVICE_URL: https://drive.vera.sninjo.com

jobs:
  # test:
  #   name: Run unit tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v6
  #     - name: Setup Go
  #       uses: actions/setup-go@v6
  #       with:
  #         go-version-file: go.mod
  #         cache: true
  #     - name: Run tests
  #       run: make test

  build-and-push:
    name: Build and push image
    runs-on: ubuntu-latest
    # needs: test
    env:
      IMAGE_TAG: ${{ github.ref_name }}
    outputs:
      image: ${{ steps.image_ref.outputs.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.HARBOR_REGISTRY }}
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: ./Dockerfile
          tags: ${{ env.IMAGE_REFERENCE }}
          build-args: |
            NEXT_PUBLIC_IDENTITY_SERVICE_URL=${{ env.NEXT_PUBLIC_IDENTITY_SERVICE_URL }}
            NEXT_PUBLIC_DRIVE_SERVICE_URL=${{ env.NEXT_PUBLIC_DRIVE_SERVICE_URL }}

  deploy:
    name: Deploy to ArgoCD
    runs-on: ubuntu-latest
    needs: build-and-push
    env:
      ARGOCD_SERVER: ${{ secrets.ARGOCD_SERVER }}
      ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_TOKEN }}
      ARGOCD_OPTS: --grpc-web
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set image tag (Kustomize)
        uses: clowdhaus/argo-cd-action@v3.2.0
        with:
          version: 3.2.1
          command: app
          options: set ${{ env.ARGOCD_APP }} --kustomize-image ${{ env.IMAGE_REFERENCE }}
      - name: Wait for operation
        uses: clowdhaus/argo-cd-action@v3.2.0
        with:
          version: 3.2.1
          command: app
          options: wait ${{ env.ARGOCD_APP }} --operation --timeout 600
      - name: Sync ArgoCD app
        uses: clowdhaus/argo-cd-action@v3.2.0
        with:
          version: 3.2.1
          command: app
          options: sync ${{ env.ARGOCD_APP }}
      - name: Wait for health
        uses: clowdhaus/argo-cd-action@v3.2.0
        with:
          version: 3.2.1
          command: app
          options: wait ${{ env.ARGOCD_APP }} --health --timeout 600
